{% extends 'base.html' %}
{% block content %}
        <section class="materials">
            <div class="container">
                <div class="df-aic-jcsb">
                    <h2 class="title">Материалы</h2>
                </div>
                <div class="materials-content">
                    <div class="materials-left">
                        <div class="materials-subtitle">Область</div>
                        <div class="projects-left">
                            <div class="projects-subtitle">Область</div>
                            <div class="checkbox">
                                <div class="checkbox-wrapper">
                                    Математика
                                    <svg
                                        width="24"
                                        height="25"
                                        viewBox="0 0 24 25"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M6 13.7808L9.75946 18L18 7"
                                            stroke="#181616"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <rect
                                            x="1"
                                            y="1.5"
                                            width="22"
                                            height="22"
                                            rx="1"
                                            stroke="#181616"
                                            stroke-width="2"
                                        />
                                    </svg>
                                </div>
                            </div> 
                            <div class="checkbox">
                                <div class="checkbox-wrapper">
                                    Физика
                                    <svg
                                        width="24"
                                        height="25"
                                        viewBox="0 0 24 25"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M6 13.7808L9.75946 18L18 7"
                                            stroke="#181616"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <rect
                                            x="1"
                                            y="1.5"
                                            width="22"
                                            height="22"
                                            rx="1"
                                            stroke="#181616"
                                            stroke-width="2"
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="checkbox">
                                <div class="checkbox-wrapper">
                                    Химия
    
                                    <svg
                                        width="24"
                                        height="25"
                                        viewBox="0 0 24 25"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M6 13.7808L9.75946 18L18 7"
                                            stroke="#181616"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <rect
                                            x="1"
                                            y="1.5"
                                            width="22"
                                            height="22"
                                            rx="1"
                                            stroke="#181616"
                                            stroke-width="2"
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="checkbox">
                                <div class="checkbox-wrapper">
                                    Биология
                                    <svg
                                        width="24"
                                        height="25"
                                        viewBox="0 0 24 25"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M6 13.7808L9.75946 18L18 7"
                                            stroke="#181616"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <rect
                                            x="1"
                                            y="1.5"
                                            width="22"
                                            height="22"
                                            rx="1"
                                            stroke="#181616"
                                            stroke-width="2"
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="checkbox">
                                <div class="checkbox-wrapper">
                                    Экономика
                                    <svg
                                        width="24"
                                        height="25"
                                        viewBox="0 0 24 25"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M6 13.7808L9.75946 18L18 7"
                                            stroke="#181616"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <rect
                                            x="1"
                                            y="1.5"
                                            width="22"
                                            height="22"
                                            rx="1"
                                            stroke="#181616"
                                            stroke-width="2"
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="checkbox">
                                <div class="checkbox-wrapper">
                                    История
                                    <svg
                                        width="24"
                                        height="25"
                                        viewBox="0 0 24 25"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M6 13.7808L9.75946 18L18 7"
                                            stroke="#181616"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <rect
                                            x="1"
                                            y="1.5"
                                            width="22"
                                            height="22"
                                            rx="1"
                                            stroke="#181616"
                                            stroke-width="2"
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="checkbox">
                                <div class="checkbox-wrapper">
                                    Филология
                                    <svg
                                        width="24"
                                        height="25"
                                        viewBox="0 0 24 25"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M6 13.7808L9.75946 18L18 7"
                                            stroke="#181616"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <rect
                                            x="1"
                                            y="1.5"
                                            width="22"
                                            height="22"
                                            rx="1"
                                            stroke="#181616"
                                            stroke-width="2"
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div class="checkbox">
                                <div class="checkbox-wrapper">
                                    Психология
                                    <svg
                                        width="24"
                                        height="25"
                                        viewBox="0 0 24 25"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M6 13.7808L9.75946 18L18 7"
                                            stroke="#181616"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <rect
                                            x="1"
                                            y="1.5"
                                            width="22"
                                            height="22"
                                            rx="1"
                                            stroke="#181616"
                                            stroke-width="2"
                                        />
                                    </svg>
                                </div>
                            </div>
                            <button class="projects-btn">Применить фильтр</button>
                            <button class="projects-btn another">
                                Создать материал
                            </button>
                        </div>
                         
                    </div>
                    <div class="materials-left another">
                        <Dropdown class="materials-dropdown" />
                    </div>
                    <div class="materials-right">
                        <div 
                            class="materials-block"
                        >
                            <div class="materials-subtitle">qwertyuiop[] 
                            </div>
                            <div class="line"></div>
                            <div class="materials-links">
                                <a 
                                    target="_blank"
                                    class="materials-item"
                                    >.pdf</a
                                >
                                <a
                                    href="#"
                                    target="_blank"
                                    class="materials-item"
                                    >YouTube</a
                                >
                                <a href=""
                                    class="materials-item"
                                    style="text-decoration: underline"
                                    >Подробнее</a
                                >
                            </div>
                        </div>
                        <div 
                            class="materials-block"
                        >
                            <div class="materials-subtitle">qwertyuiop[] 
                            </div>
                            <div class="line"></div>
                            <div class="materials-links">
                                <a 
                                    target="_blank"
                                    class="materials-item"
                                    >.pdf</a
                                >
                                <a
                                    href="#"
                                    target="_blank"
                                    class="materials-item"
                                    >YouTube</a
                                >
                                <a href=""
                                    class="materials-item"
                                    style="text-decoration: underline"
                                    >Подробнее</a
                                >
                            </div>
                        </div>
                        <div 
                            class="materials-block"
                        >
                            <div class="materials-subtitle">qwertyuiop[] 
                            </div>
                            <div class="line"></div>
                            <div class="materials-links">
                                <a 
                                    target="_blank"
                                    class="materials-item"
                                    >.pdf</a
                                >
                                <a
                                    href="#"
                                    target="_blank"
                                    class="materials-item"
                                    >YouTube</a
                                >
                                <a href=""
                                    class="materials-item"
                                    style="text-decoration: underline"
                                    >Подробнее</a
                                >
                            </div>
                        </div>
                        <div 
                            class="materials-block"
                        >
                            <div class="materials-subtitle">qwertyuiop[] 
                            </div>
                            <div class="line"></div>
                            <div class="materials-links">
                                <a 
                                    target="_blank"
                                    class="materials-item"
                                    >.pdf</a
                                >
                                <a
                                    href="#"
                                    target="_blank"
                                    class="materials-item"
                                    >YouTube</a
                                >
                                <a href=""
                                    class="materials-item"
                                    style="text-decoration: underline"
                                    >Подробнее</a
                                >
                            </div>
                        </div>
                        <div 
                            class="materials-block"
                        >
                            <div class="materials-subtitle">qwertyuiop[] 
                            </div>
                            <div class="line"></div>
                            <div class="materials-links">
                                <a 
                                    target="_blank"
                                    class="materials-item"
                                    >.pdf</a
                                >
                                <a
                                    href="#"
                                    target="_blank"
                                    class="materials-item"
                                    >YouTube</a
                                >
                                <a href=""
                                    class="materials-item"
                                    style="text-decoration: underline"
                                    >Подробнее</a
                                >
                            </div>
                        </div>
                    </div>
                    <!-- <div v-else class="wrapper">
                        <Spinner class="projects-spinner" />
                    </div> -->
                </div>
            </div>
        </section>
{% endblock %}